main {
    max-width: 620px;
    margin: 0 auto;
}

.headerContainer {
    background-color: #18181b;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
}

.pageHeader {
    margin: 0;
    font-size: 45px;
}

.subHeader {
    font-size: large;
}
