.btn {
    border: 0;
    border-radius: 2px;
    height: 26px;
    background-color: #e4e4e7;
    cursor: pointer;
    color: #18181b;
}

.likeButton {
    margin-right: 8px;
}

.loadButtonContainer {
    text-align: center;
}

.loadButton {
    margin: 8px 0;
}
