.btn {
    border: 0;
    border-radius: 2px;
    background-color: #71717a;
    cursor: pointer;
    color: #e4e4e7;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(20, 20, 20, 0.1);
}

.likeButton {
    margin-right: 8px;
    text-align: left;
}

.descriptionButton {
    text-align: left;
    float: right;
}

.loadButtonContainer {
    text-align: center;
}

.loadButton {
    margin: 16px 0;
    padding: 20px 50px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 600;
}
